[2016-10-11 18:33] obenjiro opened #1 "Safari 9.1 (11601.5.17.1) - can't find Intl"
[Error] EXCEPTION: Error in ./FooterComponent class FooterComponent - inline template:3:30 caused by: Can't find variable: Intl
    handleError (main.bundle.js:41265)
    (anonymous function) (main.bundle.js:26943)
    invoke (main.bundle.js:82144)
    onInvoke (main.bundle.js:59805)
    invoke (main.bundle.js:82143)
    run (main.bundle.js:82037)
    (anonymous function) (main.bundle.js:82403)

[2016-10-11 19:03] EricSimons commented on #1
I just tried in Safari 10, Chrome, Firefox and am unable to repro this issue. Did you `npm install`? If yes, perhaps removing node_nodules and trying again?

[2016-10-11 19:31] aiboy commented on #1
I have that issue when i visit https://angular2.realworld.io

It's probably related to the fact that Safari 9.1 doesn't have Intl support.

http://caniuse.com/#search=Intl

Safari have 5.6% market share - it's not so small.

[2016-10-11 20:12] EricSimons commented on #1
Got it. This is actually an open issue on the Angular CLI repo: #https://github.com/angular/angular-cli/issues/1675

For those wondering how to fix this: http://stackoverflow.com/questions/35017800/ionic-2-using-angular-2-pipe-breaks-on-ios-cant-find-variable-intl

We might go ahead and add the polyfill ourselves if the CLI team chooses to not include it by default in future versions, but we'll ne

[2016-10-15 12:03] ogix opened #3 "Feature request: add unit tests"
It would be nice to add unit tests for this app.

[2016-10-18 00:10] EricSimons commented on #3
Totally -- PR's would be very appreciated for this, as I'm swamped for the next month or so. Anyone out there wanna contribute some sweet unit tests? :)

[2016-10-18 18:54] EricSimons commented on #3
I'm thinking of putting a bounty on unit tests for this repo (around $300 or so) -- @ogix @npx any chance ya'll (or anyone else reading this) would be interested?

[2016-10-18 22:15] ogix commented on #3
Ok, I could try but it will take some time because I don't have much experience writing Angular2 unit tests. I will follow the official guide.

[2016-10-18 22:42] EricSimons commented on #3
Okay -- we might have to do 1-2 rounds of revisions FYI, just to ensure
everything is solid & the ang team approves. Can you drop me a note at
eric@thinkster.io and we'll hammer out details?
On Tue, Oct 18, 2016 at 3:15 PM ogix <notifications@github.com> wrote:

--
Sent from my iPhone

[2016-10-19 08:06] ogix commented on #3
I have sent you an email.

[2016-10-20 18:26] pauldubois777 commented on #3
I'd be happy to write some tests.  Where should I start?

[2016-10-20 18:38] EricSimons commented on #3
@pauldubois777 awesome! we're currently chatting about this in our private slack channel; can you send me an email at eric@thinkster.io and I'll invite you?

[2016-10-20 18:58] pauldubois777 commented on #3
Email sent. Thanks!

[2017-01-07 20:29] JefferE opened #7 "Docs"
Is there any plan to complete the docs that the read me refers to as coming Nov '16 and/or the thinkster.io tutorial or is this project dead?

[2017-01-11 20:18] EricSimons commented on #7
I'm working on docs/tut right now; planning on having them out within the next few weeks. We've been working to keep this up to date with Angular 4+ amongst other things, so we've been strapped for time/resources.

[2017-01-12 19:36] #7 closed

[2017-02-17 03:04] peterkmurphy opened #11 "Dependency Hell"
I know Angular-CLI is a "moving target", so there are problems building dependencies on it. But there are also other dependencies (e.g., node-uuid) which should be fixed in the package.json file. Basically, your angular2 realworld example failed to install on Linux due to the dependency problems.

`npm install
npm WARN deprecated angular-cli@1.0.0-beta.15: angular-cli has been renamed to @angular/

[2017-02-17 03:07] peterkmurphy commented on #11
This is related to this issue. #https://github.com/angular/angular-cli/issues/4484

[2017-02-20 23:13] EricSimons commented on #11
Thanks for the info @peterkmurphy - I'll update the package.json and see what I can do to fix this.

[2017-02-22 19:26] EricSimons commented on #11
@peterkmurphy can you try doing a fresh install now? I set explicit package versions, which was causing the issue for me locally

[2017-02-24 12:09] peterkmurphy commented on #11
@EricSimons: this is what I did. Note that this is on 64 bit Linux Mint, which seemed to have had some permission issues with node-sass.
(a) Uninstall and clean the cache for @angular/cli
(b) Reinstall @angular/cli globally via the command:
`
sudo npm install --unsafe-perm -g @angular/cli`

I'm glad to say that there are no peer dependency issues remaining with @angular/cli itself. However, I need

[2017-02-25 20:17] frazer-jamieson commented on #11
Hi,

I'm getting the following error after npm install & ng serve:

$ ng serve
Cannot find module '@angular/compiler-cli'
Error: Cannot find module '@angular/compiler-cli'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/lib/no

[2017-02-25 21:13] frazer-jamieson commented on #11
My dependency errors are:

$ npm install
ang2-conduit@0.0.0 /home/frazer/Desktop/Angular/thinkster/angular2-realworld-example-app-m-8
├── UNMET PEER DEPENDENCY @angular/common@2.0.0
├── UNMET PEER DEPENDENCY @angular/compiler@2.0.0
├── UNMET PEER DEPENDENCY @angular/core@2.0.0
└── UNMET PEER DEPENDENCY @angular/platform-browser@2.0.0

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0

[2017-04-22 22:02] tfpkiii commented on #11
I was able to clear up all the dependencies for npm install by updating the local modules using:

npm uninstall --save-dev angular-cli
npm install --save-dev @angular/cli@latest

But of course this broke git's relationship to the branches used in the tutorial, sigh.

[2017-04-23 06:22] frazerjamieson commented on #11
ncu -a perhaps?

[2017-04-23 21:58] GiorgioG commented on #11
This doesn't seem to work on Windows 10.  After paying $159 for a year of Thinkster.io, I'm a bit disappointed at how unpolished this thing is.

[2017-04-23 22:08] EricSimons commented on #11
@GiorgioG Windows support is generally a problem in the npm community, and for this repo we've had problems with the Angular CLI itself on Windows. We're doing everything we can. ¯\_(ツ)_/¯

Regarding the current state of the CLI dependency issues, I'm going to try doing a hard upgrade to the latest CLI's webpack/etc config and see if that helps solve things here. Should have some info regarding th

[2017-04-23 22:30] GiorgioG commented on #11
@EricSimons I appreciate the quick response.  FYI - I can install @angular/cli and create/run the default angular4 project template ("app works!") without any errors on the same Windows 10 machine.

[2017-04-23 22:34] EricSimons commented on #11
@GiorgioG Yeah I think their latest CLI versions finally fixed these sorts of dep issues which is why I'm going to attempt the hard upgrade tomorrow. There also _shouldn't_ be any breaking changes in our code with the bump to v4, so hopefully I'll be announcing tomorrow that this repo's dep issues are solved and it also now supports Angular 4  :)

[2017-04-23 22:38] GiorgioG commented on #11
Thanks again @EricSimons - if push comes to shove I can just run this under the Windows Subsystem for Linux.

[2017-04-25 00:15] EricSimons commented on #11
Update — got tied up in [RealWorld core](https://github.com/gothinkster/realworld) issues today, have to bunt till tmrw 😓

[2017-04-25 17:06] babilog commented on #3
This thread sort of when cold, any progress on the unit tests? Please let me know if anyone needs more help on this task.

[2017-04-25 17:13] EricSimons commented on #3
@babilog yeah, this ended up not happening the first time around unf. If you make a PR for unit tests I will absolutely accept them 👍

[2017-05-01 03:50] EricSimons commented on #11
Huge thanks to @ankeshdave for https://github.com/gothinkster/angular-realworld-example-app/pull/12 that solves this (and bumps us to v4+)!

[2017-05-01 03:51] #11 closed

[2017-05-03 12:28] i10111pn opened #13 "API 502 error"
https://conduit.productionready.io/api Error 502

[2017-05-03 15:16] SandeeshS commented on #13
The api server has been down for quite sometime. It's being looked into atm by @EricSimons

[2017-05-03 15:49] SandeeshS commented on #13
The api is up and running again. @EricSimons this can be closed.

[2017-05-03 21:03] #13 closed

[2017-05-05 04:51] umondelo commented on #3
any progress on the unit test?

[2017-05-05 17:41] babilog commented on #3
Hi @umondelo , unfortunately I'm still working on these at the moment. I can probably push a branch later this weekend.

[2017-05-09 19:23] babilog commented on #3
@EricSimons , I'm trying to push my local branch to the repo but currently receiving a permissions issue. Running `git push origin mybranchname` ... Any thoughts?

[2017-05-09 19:25] babilog commented on #3
`$ git push -u  origin feature-unit-tests
remote: Permission to gothinkster/angular-realworld-example-app.git denied to babilog.
fatal: unable to access 'https://github.com/gothinkster/angular-realworld-example-app.git/': The requested URL returned error: 403`

[2017-05-09 19:39] SandeeshS commented on #3
@babilog only those added to the collaborators can make changes directly to this repo. You need to create a PR to get the changes pushed here after someone verifies them. To do so upload the repo to your account and create a PR with your new repo to this one.

[2017-05-10 03:01] EricSimons commented on #3
@babilog ^ what @SandeeshS said! Feel free to make a pull request & I'll review + accept 👍

[2017-05-12 08:30] alldotmarketing opened #17 "multiply *ngIf & *showAuthed"
Hello.
How to apply both * to string.
 I have next code
` <a class="sidenav-anchor"
     *ngIf="!item.hasSubItems()"
     md-list-item md-ripple
     [routerLink]="[item.route]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <md-icon>{{ item.icon }}</md-icon>
    <span class="sidenav-item-name fade-in-on-icon-sidenav">{{ item.name }}</span>
    <span fxFlex></span>
    <s

[2017-05-12 11:32] #17 closed

[2017-05-13 19:24] srdavicho opened #18 "Can't run ng serve on m-9; m-8 branches"
I just started `building-real-world-angular-2-apps` course and I was unable to run `ng serve` after doing an `npm install` on m-9 and m-8 branches.  However, I was able to ng serve the master branch. I realized the package.json file on these branches are configured to angular 2 while the master is configured to angular 4.

I finally got it to run on m-9 branch by updating the following:

Change #1

[2017-05-15 06:13] arrowwu opened #19 "Tag is not working for me"
I added tag when I created a new article, but was not able to see the tag

[2017-05-15 06:16] arrowwu opened #20 "Changing profile does not changing "edit profile" and "follow""
When I am on my profile, i see "" Edit profile settings", then I click on my feed's profile name, i am still see "Edit profile settings", however it should be "Follow xxx"

[2017-05-15 06:33] arrowwu commented on #20
Look like boolean isUser was not updated, so you have to refresh the browser to update it

[2017-05-15 20:02] tiddy commented on #20
https://github.com/gothinkster/angular-realworld-example-app/pull/14

[2017-05-15 22:17] RawleJuglal opened #21 "Possible error in readme of Nesting Components"
Not sure if this isn't correct because I don't have pro and use a c9.io server. But, the readme says in the app.module.ts to import { HeaderComponent } from './shared/index'; but we don't make an index.js file and actually I got it working pointing to './shared/layout/header.component';

[2017-05-15 22:30] arrowwu commented on #20
Thanks

[2017-05-15 22:30] #20 closed

[2017-05-17 05:26] #19 closed

[2017-05-21 23:06] alexandernst opened #22 "Improve API service"
Handle cases such as a 401 (expired token), in which case the service should renew the token and then re-launch all the requests that were ran meanwhile (extra points: run them in the same order).

[2017-06-07 23:14] Jscott388 opened #25 "Supplied parameters do not match any signature of call target."
private currentUserSubject = new BehaviorSubject<User>(new User());

Same for purgAuth

this.currentUserSubject.next(new User());

Why is this happening? Supplied parameters do not match any  signature of call target.

[2017-06-17 11:44] alldotmarketing opened #26 "How to matching variable in ts and the value of the Directive from the html?"

[2017-06-17 12:25] #26 closed

[2017-06-20 07:48] Mugunthan93 opened #28 "fatal:could not read from the repository"
hi..

when i put this command in my cli...

"**git clone git@github.com:gothinkster/angular2-realworld-example-app.git**"

it gives this error

Warning:permanently added to the RSA host key for the IP address "**my ip address**" to the list of known host

permission denied<public key>

please make sure you have the correct access rights and the repository exists

[2017-07-26 22:04] nikhilkul opened #33 "Can't add image url to the profile"
I get this error while updating user profile url with flask-realworld-example-app
http://127.0.0.1:5000/api/user 422 (UNPROCESSABLE ENTITY)

[2017-07-26 22:07] nikhilkul opened #34 "Access-control-allow-origin error with flask local backend"
I ended up installing chrome extension to "access-control-allow-origin"

[2017-07-26 22:11] nikhilkul opened #35 "Get calls to http://localhost:4200/null"
Not sure why this appears in my console whenever I post a comment or whenever I publish a new article.

`null:1 GET http://localhost:4200/null`

[2017-07-27 01:11] mohamed-aziz commented on #34
This has nothing to do with this project, you just have to edit the whitelist variable, it's not there by default but b7754cc28033f69a26e2581eb519b33aa115cbfc fixes it.

[2017-07-27 02:51] nikhilkul commented on #34
Thanks. The [README](https://github.com/gothinkster/angular-realworld-example-app/edit/master/README.md) here is super helpful and I was able to reproduce everything within seconds. With this fix, the whole setup is completely reproducible.  🥂

[2017-07-27 02:51] #34 closed

[2017-07-27 15:39] pukonu opened #36 "Bug on MarkdownPipe"
Module not found: Error: Can't resolve 'marked' in /<pathto>/src/app/article'
 @ ./src/app/article/markdown.pipe.ts 8:0-33
 @ ./src/app/article/article.module.ts
 @ ./src/app/app.module.ts
 @ ./src/main.ts

[2017-07-27 15:41] #36 closed

[2017-08-02 12:59] irfanmayo0786 commented on #35
i also found this same error

[2017-08-02 14:23] celikmustafa89 commented on #35
it works for the online example.
I guess you are running the project on your local environment. So, It may not have the backend side of comment and article stuff.

@irfanmayo0786  where are you from?(Türk müsün?)

[2017-08-03 06:35] irfanmayo0786 commented on #35
im form pakistan. if you are full stack developer kindly tell me your email thanks in advance @celikmustafa89

[2017-08-03 15:49] celikmustafa89 commented on #35
@irfanmayo0786 I'm from Turkey. I am interested in full stack development.
here is my email celikmustafa89@gmail.com.
we can communicate via email or hangouts.
Nice to meet you.

[2017-08-04 10:02] irfanmayo0786 commented on #35
Salaam brother,
im working in company here in lahore. i worked in php.
same nice to meet you brother

On Thu, Aug 3, 2017 at 8:49 PM, Mustafa ÇELİK <notifications@github.com>
wrote:

[2017-08-08 00:47] Bill-Y-Huang opened #37 ""Your Feed" got nothing"
It works now.

[2017-08-08 01:17] #37 closed

[2017-08-08 16:58] Bill-Y-Huang commented on #19
Did you solve the issue? How?

[2017-08-08 20:59] davidmarjanac opened #38 "ng build error"
when i try to deploy angular app to firebase,and when i run ng build --prod i get this:

1) Error in home.component.html(55,11):Type number | true is not assignable to type 'boolean'..Type 'number' is not assignable to type 'boolean'

2) Error in shared/article-helpers in article-list.component.html (12,1): Operator '<=' cannot be applied to types 'number[]' and 'number'

[2017-08-15 13:46] #38 closed

[2017-08-15 13:49] davidmarjanac opened #39 "image link problem"
When i put a link in image profile,automatically i got problem to login again on the page with sign in,it said that email or password is invalid....when i don't put image link,the login works great...

[2017-08-15 13:51] davidmarjanac commented on #39
error in console is --- Failed to load resource: the server responded with a status of 422 (Unprocessable Entity)

[2017-08-16 03:57] hamzahamidi opened #40 "How did you import boostrap in this project"
I see that you use bootstrap in this project. But I can't see it in your dependencies. how so?

[2017-08-16 13:15] #40 closed

[2017-08-22 22:21] shaungrady opened #42 "Doesn't follow Angular Style Guide regarding "Core" feature module"
https://angular.io/guide/styleguide#core-feature-module

The Angular Style Guide advises putting singleton services and single-use classes into the Core module. This app has everything in the Shared module.

[2017-09-12 00:35] skopekreep opened #45 "Tag not saving when publishing articles"
When the 'Publish Article" button pressed, an entered tag is not saved to the database. Currently the only way to save a tag is by typing it in the tag field and hitting the Enter key.

It is arguable that a more natural and intuitive editing workflow involves adding/editing content (including tags) and saving all additions/edits with the single click of the 'Publish Article' button.

### ___** A

[2017-10-04 13:39] KayUOM opened #46 "No 'Access-Control-Allow-Origin'"
Using my own nodejs backend api locally i get this error.

`Failed to load http://localhost/3000/api/users: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access. The response had HTTP status code 404.`

How can i fix this?

I use this package in my express.js https://www.npmjs.com/package/cors app.use(cors()).

[2017-10-04 14:08] #46 closed

[2017-10-11 23:54] iamwhitebox opened #47 "Errors while running ng build -prod"
[code]

[2017-10-31 19:04] JinnaBalu opened #48 "How to remove has(#) from the url and share link, rendering the content or title of the page url"
When we share the link how to render the page title and image of teh url

If we share github link it will be rendered to the sharing link not not appears as just a link it renders whole bucnh of imformation with it.

How can we achieve same with angular 4

[2017-11-21 19:13] pgbonino commented on #18
@srdavicho

Any other changes so far? I don't get it work even with the changes you mention. I do `npm install` and I keep getting many deprecated dependencies:

[code]

And when I go `ng serve`, I get:

`Cannot find module 'webpack/lib/dependencies/ContextElementDependency'`

This happens in any m-9, m-8 or master branches.

😳

[2017-11-28 16:58] Alkasih opened #49 "set default route"
How do we set the default component in <router-outlet></router-outlet>?

[2017-11-29 01:58] #49 closed

[2017-11-30 22:57] cfilby commented on #42
To add onto this, the SharedModule shouldn't be re-exporting the HttpModule since it's a provider only module. It seems like this should just be imported in the AppModule (or possibly the core module)?

The NgModule FAQ mentions this here:
https://angular.io/guide/ngmodule-faq#what-should-i-not-export

[2017-12-19 22:46] MarkPieszak opened #51 "App being benchmarked is in Development mode"
From the console:

This will severely impact benchmarking results, it should be prod / AoT'd / etc.

[2017-12-19 23:08] EricSimons commented on #51
@markpieszak just merged that PR - what benchmarks are you referring to btw? This repo was primarily designed for edu purposes, so prob not great for doing benchmarking stuff/etc!

[2017-12-19 23:14] hamzahamidi commented on #47
This has been fixed with the last merge.

[2017-12-20 00:35] EricSimons commented on #47
Thanks for this @hamzahamidi!

[2017-12-20 00:35] #47 closed

[2017-12-21 03:09] MarkPieszak commented on #51
What up Eric! :wave: How's it going!?
This article here, looks like they used it in this article here 😢

I'll close this out then, thanks man

[2017-12-21 03:09] #51 closed

[2017-12-29 06:06] NilsNaegele opened #53 "Firebase Implementation"
Is there a firebase implementation somewhere? If not it might be a good idea to create one.

[2017-12-29 06:11] NilsNaegele opened #54 "Angular 5 Update"
It might be a good idea to update the code to the newest version of Angular?

An Angular Material 5 implementation too?

Also a Bootstrap 4 version, would be nice?

[2018-01-04 21:02] Toxicable opened #55 "Updated to latest versions and best practices"
Just took a quick look through the project and noticed a few things that could do with updating so that we're up to update with the latest versions and best practices.
- [x] Updated to to v5
- [ ] Move subscribes to `| async` where appropriate
- [x] Update to rxjs v5.5 and use lettables
- [x] Add a linter (prittifier?)
- [x] Swap `Http` for `CttpClient`
- [ ] Add Unit and e2e tests
- [x] component

[2018-01-04 21:32] juristr commented on #55
👍 Going to do the upgrade to `v5` including CLI changes

[2018-01-04 21:40] juristr commented on #55
Also, there are no tests, so adding tests would be nice as well 😉

[2018-01-05 14:21] mountpoint commented on #54
+1

[2018-01-06 23:05] juristr commented on #55
@EricSimons If you have some time to look at the referenced PRs here & possibly merge them would be cool. It's the Angular GDE squat working here, commandeered by @StephenFluin 😂

[2018-01-06 23:11] EricSimons commented on #55
@juristr so sorry about the delay, been afk a ton the past few days 😅 Thanks so much for putting together these PR's!! Just merged 👍

[2018-01-07 12:10] X-Anonymous-Y opened #58 "ng serve"
need help please..
i get a error on ng serve:

realworld/angular
$ ng serve
** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
Date: 2018-01-07T12:09:14.049Z
Hash: 738f21cc1ad72eb7b1e9
Time: 5375ms
chunk {inline} inline.bundle.js (inline) 5.79 kB [entry] [rendered]
chunk {main} main.bundle.js (main) 2.93 kB [initial] [rendered]
chunk {polyf

[2018-01-07 12:48] juristr commented on #55
@EricSimons no worries man, I was just kidding 😉. Hopefully me or @Toxicable can submit some further PRs to also adjust the remaining "issues"

[2018-01-07 19:33] Toxicable commented on #55
Yup, ill be doing the rxjs 5.5 / lettables later this evening

[2018-01-08 08:30] irfanmayo0786 commented on #55
@Toxicable this app is now fully in angular5. Can you please describe me main things that are not yet in ng-5.

[2018-01-08 08:53] Toxicable commented on #55
@irfanmayo0786 I'm confused, this example app is using Angular v5

[2018-01-08 11:15] irfanmayo0786 commented on #55
my mean is that this app was first in angular-2. I'm just asking now it's fully updated in angular 5.

[2018-01-08 13:02] juristr commented on #55
@irfanmayo0786 Yep, it's now using Angular 5 (as of [this commit](https://github.com/gothinkster/angular-realworld-example-app/commit/044c174f24f6971f00b62ed2d499600f10f6b4dd)). What's still missing are the points at the very beginning of this issue which haven't been checked yet. Those are more like best practices that should be implemented in Angular version 5 apps.

[2018-01-09 04:57] irfanmayo0786 commented on #55
thanks @juristr

[2018-01-11 02:21] paul-hammant opened #68 "'marked' npm package not listed as dependency"
[code]

[2018-01-11 02:24] paul-hammant opened #69 "build isn't interoperating with Chrome thru Chromedriver for Karma suite."
[code]

[2018-01-11 02:25] paul-hammant commented on #69
Of course - tests may be unsupported as there's no mention of `ng test` in the README

[2018-01-15 21:09] phibonacci85 commented on #68
I have same problem

[2018-01-16 05:07] uravnitel commented on #68
npm install marked --save

[2018-01-17 19:54] truefunrun opened #70 "Pages divided on module?"
Sorry, I have a question about dividing routes on modules

Each module load separately ?
When we're going to our app we're loading Home module and If we're going to Setting page and we're loading Settings module, it is?

[2018-01-18 21:52] #58 closed

[2018-01-18 21:57] Toxicable commented on #68
fixed via https://github.com/gothinkster/angular-realworld-example-app/commit/4eebdf5637cbed5f68c047ae2a06242c7f0dd78d

[2018-01-18 21:57] #68 closed

[2018-01-18 21:57] Toxicable commented on #54
done via https://github.com/gothinkster/angular-realworld-example-app/commit/044c174f24f6971f00b62ed2d499600f10f6b4dd

[2018-01-18 21:57] #54 closed

[2018-01-18 22:24] juristr commented on #70
@truefunrun Hey. Yep, pretty much. Usually you structure you Angular application in different feature areas, just as in this app:

![image](https://user-images.githubusercontent.com/542458/35124420-5461767e-fca6-11e7-9809-30026985530e.png)

Each of these modules might then also contribute its own routings via `RouterModule.forChild([...])`, and might even be lazy loaded. Here are some links which

[2018-01-18 22:24] #70 closed

[2018-01-18 22:28] juristr commented on #28
Hmm, this is a public GitHub repo, so cloning should work just fine. In case let me know again.

[2018-01-18 22:28] #28 closed

[2018-01-19 08:07] X-Anonymous-Y opened #71 "multiple errors"
see the pictures below!

the default page is OK
[default route](https://imgur.com/a/iVMeL)

Wrong data loaded!
all posts are displayed instead of user posts
[profile route](https://imgur.com/a/6Rkp1)

Wrong data loaded!
all posts are displayed instead of taged posts
[tags route](https://imgur.com/a/Iqwo8)

I am using the latest version of:
[Laravel](https://github.com/gothinkster/laravel-realworld

[2018-01-21 02:15] arrowwu opened #72 "Error message does not show up on login page"
I entered wrong username/password, and hit enter, it should display an error message;
It says error.json() is not a function

[2018-01-21 22:15] truefunrun commented on #70
@juristr thank you!

[2018-01-23 07:39] Bill-Y-Huang opened #74 "Cannot add tags"
ERROR TypeError: Cannot read property 'indexOf' of undefined
    at EditorComponent.addTag (editor.component.ts:50). EditorComponent.html:34

[2018-01-23 13:45] vivekimsit opened #75 "Create TokenInterceptor"
At present the code [here](https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/app/shared/services/api.service.ts) seems repetitive, imho an interceptor should be  perfect use case for this.

[2018-01-24 18:51] Bill-Y-Huang commented on #74
I made modifications.

references:
194 Reactive Arrays of Form Controls FormArray
https://www.youtube.com/watch?v=_6eUJUbvEgE&t=392s

Get all unique values in an array (remove duplicates)
https://stackoverflow.com/questions/1960473/get-all-unique-values-in-an-array-remove-duplicates

editor.component.ts

import { Component, OnInit } from '@angular/core';
import { FormBuilder, FormGroup, FormContro

[2018-01-24 18:52] Bill-Y-Huang commented on #74
editor.component.html

<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-12 col-xs-12">

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <label for="title">Title<span class="text-danger"

[2018-01-24 18:52] #74 closed

[2018-01-26 13:04] juristr commented on #75
Definitely. Can you write an HttpInterceptor and create a PR for it? Would be cool :)

[2018-01-30 19:56] #75 closed

[2018-02-19 04:29] nicojs commented on #3
@babilog do you have the tests? I would be grateful for them 🥇

[2018-02-20 09:56] Bulan commented on #69
Most likely a dupe of #3 Since there are no unit tests

[2018-03-02 10:20] ajitbapina opened #78 "Angular application error ,calling back-end api POST /users with Content-Type:text/plain"
I am trying in local to register through angular app but not able to call api backend.
I debug it and found below error.

Request URL:http://localhost:8080/users
Request Method:POST
Status Code:415
Remote Address:[::1]:8080
Referrer Policy:no-referrer-when-downgrade

Accept:application/json, text/plain, */*
Accept-Encoding:gzip, deflate, br
Accept-Language:en-US,en;q=0.9
Connection:keep-alive
Cont

[2018-03-04 16:52] qdelance commented on #78
You may have to set proper HTTP headers.
Current course is based on Angular2, so you may find some code in the "m-X" branches that deal with it in api service. A better way to do it has been recently merged in master, that is based on newer http client module, and interceptors. More info here: https://github.com/gothinkster/angular-realworld-example-app/commit/96277cb515c573ffb4f62775e7d6ebf9f3661

[2018-03-04 20:08] rajeget opened #79 "If there is any error for eg 403 , 401 etc , the site hangs"
Hi,

I have noticed that whenever there is a error , for example HTTP 403 or HTTP 401 the Angular2 UI hangs . The upper navigation bar  ( having Home, New Article, Setting ,User) is not clickable

If you can tell me where is error handling done I can contribute back .

Raje

[2018-03-05 20:46] dmytrohridin commented on #78
https://github.com/gothinkster/angular-realworld-example-app/commit/96277cb515c573ffb4f62775e7d6ebf9f3661ae4
I think there is error. Because of
`if (this.jwtService.getToken()) {
+      headersConfig['Authorization'] = `Token ${this.jwtService.getToken()}`;
+      const authReq = req.clone({ setHeaders: headersConfig });
+      return next.handle(authReq);
+    }`
so only if you will get token - h

[2018-03-06 12:56] pgbonino opened #81 "Get HTTP 422 error when Register against https://conduit.productionready.io/api"
All running locally as I should. Apparently, it fetches articles and I can navigate through the public part of the application.

When I try to register, I get this error in console:

POST https://conduit.productionready.io/api/users 422 ()

Any clue?

I attach the complete request/response object catched from Network tab in Chrome debugger:
[register.txt](https://github.com/gothinkster/angular-rea

[2018-03-06 12:59] sanka2701 commented on #81
chech [this](https://github.com/gothinkster/angular-realworld-example-app/issues/78)

[2018-03-06 14:40] ajitbapina opened #82 "Calling back-end api from browser"
Hi Sir,
In this project all back-end call are made from browser.
Any body can see the back end API URL from browser.
Is it right way to do in production. (Need your suggestion)

[2018-03-06 15:43] ajitbapina opened #83 "tagList attribute missing in POST Articles call from front-end."
There is tagList attribute missing in POST Articles call from front-end.

{"article":{"title":"Core Java","description":"Db Connection in Java","body":"Db Connection in Java Db Connection in Java"}}

Response:
{"timestamp":1520350867487,"status":500,"error":"Internal Server Error","exception":"java.lang.NullPointerException","message":"No message available","path":"/articles/"}

[2018-03-06 17:02] kurtdaveting commented on #81
@sanka2701 #80 does not the same error as @pgbonino

[2018-03-06 19:18] dmytrohridin commented on #78
@ajitbapina  you can close this issue, changes merged to master

[2018-03-06 19:20] dmytrohridin commented on #81
@kurtdaveting I had the same problems and it fixed them

[2018-03-06 20:19] Toxicable commented on #78
closed via https://github.com/gothinkster/angular-realworld-example-app/pull/80

[2018-03-06 20:19] #78 closed

[2018-03-07 02:15] kevintanhongann opened #84 "Refresh token scenario"
I was checking out some implementations on JWT regarding refresh tokens and I didn't manage to find it being simulated here. Just thought I file something just so that someone can come to it later.

[2018-03-07 03:45] kurtdaveting commented on #81
@dmytrohridin will look more into it. I'm also having issues when i try to run the client connected to node api locally. However it throws me error 500 instead of 422 when signing up

[2018-03-07 07:38] pgbonino commented on #81
@kurtdaveting I am also having error 500 when going against local node-express application. Particularly, it seems like the object is not being passed.

But for now I have just mentioned the problem when going against  https://conduit.productionready.io/api/users.

As soon as I have a minute, I will check what @sanka2701 said and let you know the results.

[2018-03-07 08:06] jotatoledo opened #85 "fix: live demo"
Live demo shouldnt run on `devMode`.
Currently it does.

[2018-03-07 12:44] pgbonino commented on #81
Hello,

I have updated to what said in #80 , but the behavour is the same. It is sending the request with `content-type:text/plain`.

Any other clue? Where else can I check to see why the requests are being sent in plain text instead of json?

[2018-03-07 13:12] pgbonino commented on #81
@sanka2701, @kurtdaveting, definitely #80 close this too.

It was a matter of content-type set to plain text instead of json.

Thanks!!

[2018-03-07 13:12] #81 closed

[2018-03-09 13:59] pgbonino commented on #72
Just created PR to solve this

https://github.com/gothinkster/angular-realworld-example-app/pull/86

Hope it is accepted.

[2018-03-09 18:32] #72 closed

[2018-03-15 07:28] dawidczarczynski commented on #82
Yes, I would say it's the only way. That's how SPA works.

[2018-03-15 15:57] ajitbapina commented on #82
Is not it hampering the security of the web site?
I have seen some companies are using node layer(server.js) to route back-end.
Which way I will follow for a production ready application?

[2018-03-16 06:47] juristr commented on #82
the backend url is directly configured in the environment.ts file of the Angular CLI project: https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/environments/environment.ts
You can also inspect the network calls from your browser's devtools to see where they go.

Generally speaking it really depends on your deployment architecture. I generally see two approaches:

- the o

[2018-03-19 09:33] pgbonino commented on #79
Check if [this commit](https://github.com/gothinkster/angular-realworld-example-app/commit/004887c6f81e3ca64cc84664bf0276c167003a89), that fixed [issue 72](https://github.com/gothinkster/angular-realworld-example-app/issues/72) solves what you say.

[2018-03-21 05:04] YogeshSonar opened #87 "error : Cannot find module 'marked'."
When im clone this application and after Run the >npm install it will install all necessary module after that finally i'm going to run the application then it will show the error.

ERROR in src/app/article/markdown.pipe.ts(2,25): error TS2307: Cannot find module 'marked'.

Please fix these.

Thanx in advance.

[2018-03-22 04:26] b4youleap commented on #84
See open enhancement #22 - this would be covered by that. You may want to close this issue as a duplicate.

[2018-03-22 04:35] kevintanhongann commented on #84
Okay sure. Duplicate #22

[2018-03-22 04:35] #84 closed

[2018-03-22 08:57] jacekschae opened #88 "Production Build"
I'm about to update the [RealWorld Comparison](https://medium.freecodecamp.org/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-e1cb62fd526c).

Is there any possibility that we could have in the repo production build? Just as ELM has one with time traveling and another with production?

I'm not Angular expert and would prefer to not deploy this on my own,

Thanks for considering,

[2018-03-23 15:57] ajitbapina commented on #82
Thank you all for your very useful reply.
I am little bit confused.
In our organisation apis are deployed as separate application behind mashery.
And front end application deployed in different server(docker) .
I am new to front end and i have implemented like how front end calling back end api here(calling direct back end api from browser).
Our Application security team told me "you should not im

[2018-03-31 22:53] robwormald opened #89 "Use Code Splitting via Router"
The entire application is loaded in one big chunk, which impacts startup performance. This app should use code-splitting/lazy-loading via the Router.

[2018-04-01 04:14] Toxicable commented on #87
fixed via https://github.com/gothinkster/angular-realworld-example-app/commit/4eebdf5637cbed5f68c047ae2a06242c7f0dd78d

[2018-04-01 04:14] #87 closed

[2018-04-03 18:46] X-Anonymous-Y commented on #71
@hamzahamidi

which version do you use?
at version 5.2.9 these errors appear!

[2018-04-03 18:55] hamzahamidi commented on #88
@jacekschae  To generate the production build run the following command:
```ng build --prod```

[2018-04-03 18:58] hamzahamidi opened #91 "New feature: CI github-pages with Travis-ci"
I have a ready PR for Continuous Integration in github-pages with Travis-ci If you're interested.

[2018-04-03 23:45] GulajavaMinistudio opened #92 "Use Production Build in Demo Mode"
I checking Angular Realworld Demo, but after i check in Inspect Element in Network Tab , this demo is not using production mode or production build. And the result is not fast as production mode.

Try run Production Build with this command
`ng build --prod --build-optimizer`

Docs
https://angular.io/guide/deployment

[2018-04-04 10:13] manishjanky commented on #92
This will really impact the metrics as. In production mode with aot angular compiler is not loaded in the browser and compilation is done at build time.
Thus reducing the chunk size as well as improves the performance as the compilation is not happening in the browser which is the case with the current build of this application.

[2018-04-04 19:21] rajeget opened #93 "this.article.tagList is undefined - Error"
I am getting error
[code]
I think editor.component.ts should have tagList = []  in FormControl?

Please advice

[2018-04-05 06:03] juristr commented on #92
The production build is already made. What the current scripts don't do is to run the build optimizer.

https://github.com/gothinkster/angular-realworld-example-app/blob/master/package.json#L8

@GulajavaMinistudio could you test this out locally and in case submit a PR?

[2018-04-05 06:13] Toxicable commented on #92
Build optimizer is enabled by default on the current version of the cli

[2018-04-05 08:24] juristr commented on #88
Duplicate of #92. Please consider discussing this over there.

[2018-04-05 08:24] #88 closed

[2018-04-05 08:26] juristr commented on #89
@robwormald Yep, definitely.

I can take this one, probably in the next couple of days

[2018-04-05 08:28] Toxicable commented on #92
@juristr Im not sure on that one, Might have been around 1.5 or 1.6 at a guess.

[2018-04-05 16:48] jafaircl commented on #71
I forked the repo, built it in production mode and threw it on netlify and these errors are showing up. See an example here: https://angular-realworld-example-app.netlify.com/

Here is the forked repo: https://github.com/jafaircl/angular-realworld-example-app

 The only thing different is built dist folder.

[2018-04-05 19:43] juristr commented on #71
all posts are displayed instead of user posts
profile route

all posts are displayed instead of taged posts
tags route

Yep, indeed. these are probably bugs. We'd have to debug you service that loads the data and whether it correctly filters it

[2018-04-05 19:43] juristr commented on #71
Which errors do you mean?

[2018-04-05 19:45] juristr commented on #91
Sounds interesting. Don't know how the app is currently being deployed to here: https://angular2.realworld.io/#/

@Toxicable any idea?

[2018-04-05 19:46] Toxicable commented on #91
Need @EricSimons To handle this one

[2018-04-05 19:49] juristr commented on #85
Seems like the codebase itself handles this already correctly:

https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/main.ts#L7-L9

Most probably the app would simply have to be redeployed. #91 could help avoid these issues

[2018-04-05 19:50] #82 closed

[2018-04-05 19:58] juristr commented on #91
👍 Also the one I linked #85

[2018-04-05 20:06] #42 closed

[2018-04-05 20:06] #89 closed

[2018-04-05 20:17] hamzahamidi commented on #91
All we need is for the owner to have a Travis account & to generate a GitHub token for public repositories. The deployment will be in a branch called gh-pages & the url will be https://gothinkster.github.io/angular-realworld-example-app
When that is done, it will be easier to make this app a PWA if you're interested.

[2018-04-05 20:36] jafaircl commented on #71
@juristr the same ones that @X-Anonymous-Y mentioned.

[2018-04-05 21:02] jafaircl commented on #71
@juristr after looking at it, it's a quick fix. In articles.service.ts, `new HttpParams(params)` should be `new HttpParams({ fromObject: params })`

I can do a pull request if you want. There are one or two other things I saw that could be improved (lazy loading, dynamic imports, etc).

[2018-04-06 04:40] juristr commented on #71
Lazy loading via the router landed yesterday 👌

[2018-04-06 18:41] EricSimons commented on #91
Hey all- been fighting a flu the past 48hrs, sorry about my delay here.

I think this is an AWESOME idea @hamzahamidi- lets do it!

I just enabled travis for this repo- @juristr & @Toxicable I just set you as admins on this repo, do you think you could get the GH pages branch/etc set up?

I also just pointed angular.realworld.io to our github pages url, so whenever the GH pages branch gets publish

[2018-04-06 18:44] juristr commented on #91
@EricSimons oh, hope you feel better now.

We should be able to get this going. @hamzahamidi, can you provide a PR with the corresponding configuration so we can have a look at it?

[2018-04-06 18:59] hamzahamidi commented on #91
Sounds great! I'm on it. Do you have a chat suggestion to discuss this?

[2018-04-06 19:08] hamzahamidi commented on #91
One more question, which branch you deploy is it master?

[2018-04-06 22:14] #91 closed

[2018-04-06 22:14] Toxicable commented on #91
Deployed here https://gothinkster.github.io/angular-realworld-example-app/

[2018-04-06 22:15] Toxicable commented on #85
fixed via 399804ae6f34b52dbe6eb097009f29641e538ef4

[2018-04-06 22:15] #85 closed

[2018-04-06 22:17] Toxicable commented on #55
Closing this since most of what was here is done.
The other things have their own issues

[2018-04-06 22:17] #55 closed

[2018-04-06 22:17] Toxicable commented on #92
closed via 399804ae6f34b52dbe6eb097009f29641e538ef4

[2018-04-06 22:17] #92 closed

[2018-04-07 00:41] GulajavaMinistudio commented on #92
Many thanks for response :)

[2018-04-08 21:05] X-Anonymous-Y commented on #71
works great now

[2018-04-08 21:05] #71 closed

[2018-04-10 14:07] AlexJFishman opened #99 "Issue loading "my posts""
When loading "my posts" from a profile the Http params are empty,
which means it loads without a query ( full feed list ).

I fixed it by changing the "apiService" get method to :

`get(path: string, data = {} ): Observable<any> {
    const params: HttpParams = new HttpParams();
    return this._http.get(`${environment.api_url}${path}`, { params: data })
      .pipe(catchError(this.formatErrors));

[2018-04-10 18:02] juristr commented on #99
Yep I noticed that wrong behavior. Could you provide a PR which fixes it? :)

[2018-04-13 12:12] laurencefass opened #100 "error on install: You seem to not be depending on "@angular/core"."
Ive tried installing this and i get the error in the title

`You seem to not be depending on "@angular/core". This is an error.`

whats best advice to get this running?

thanks

[2018-04-13 14:11] #100 closed

[2018-04-13 14:11] laurencefass commented on #100
closed as i can't reproduce

[2018-04-17 02:28] zbarbuto opened #101 "Demo URL in readme is incorrect"
Demo link in readme points to https://angular2.realworld.io/

It seems that the actual demo version us running at https://angular.realworld.io/ now

[2018-04-17 20:33] #83 closed

[2018-04-17 20:33] Toxicable commented on #93
closed via 01f1640b44100a3313cc05d9bcda16f00eae4154

[2018-04-17 20:33] #93 closed

[2018-04-17 20:37] Toxicable commented on #101
closed via ed3fdcc3e19b5a47b5830a46aff21815f8fe1a82

[2018-04-17 20:37] #101 closed

[2018-04-17 20:50] iravitejakumar commented on #45
#102 resolved the issue.

[2018-04-17 20:51] Toxicable commented on #45
fixed via 01f1640b44100a3313cc05d9bcda16f00eae4154

[2018-04-17 20:51] #45 closed

[2018-04-17 22:35] jfcabral commented on #101
Hi, both of the links are not working for me... 😞

[2018-04-17 22:40] Toxicable commented on #101
@jfcabral try now, looks like the deploy process is not perfect and wipes out the CNAME

[2018-04-17 22:41] Toxicable opened #104 "Github deploy whipes out old CNAME"
The deployment artifacts should include the CNAME file such as
https://github.com/gothinkster/angular-realworld-example-app/commit/a873f031155b8bc8989a75c62585e77fd57e192f

[2018-04-17 22:47] zbarbuto commented on #101
Link I was referring to was the "Demo" one in readme.

Have made a PR #105

[2018-04-18 23:16] jfcabral commented on #101
Thank you @Toxicable, it's all good now 👍

[2018-04-27 18:14] wilfredonoyola commented on #55
Hi @Toxicable I would like to  Add Unit and e2e tests.

[2018-04-28 03:44] Toxicable commented on #55
@wilfredonoyola I don't have a plan.
Feel free to send us a PR

[2018-04-28 19:51] juristr commented on #55
For e2e tests I'd consider using Cypress instead of Protractor.

[2018-05-04 09:53] splincode opened #107 "Why is there no unsubscribe in ngOnDestroy?"
https://github.com/gothinkster/angular-realworld-example-app/blob/7074a491bbd61a52c40db525fa8c45d0145d7c00/src/app/article/article-comment.component.ts#L21

[2018-05-13 14:42] juristr commented on #107
indeed I would add one in this component 🙂. you can submit a PR 🤓

[2018-05-18 13:09] dmytrohridin commented on #107
@juristr look to PR please

[2018-05-18 13:32] #107 closed

[2018-05-18 13:33] dmytrohridin commented on #99
@juristr  done

[2018-05-18 14:22] splincode opened #111 "Site not found"
https://angular.realworld.io/

[2018-05-20 02:45] jfcabral commented on #111
x2 404 over here

[2018-05-20 05:23] #111 closed, assigned to nobody

[2018-05-30 14:43] yiss opened #112 "Any news about Angular 6 migration ?"
I was wondering if there will be a migration to Angular 6 anytime soon

[2018-06-02 15:38] dparizek opened #113 "Does not work with Django backend"
The current Django backend works fine at least with the AngularJS and Vue frontends.  With the Angular frontend, you cannot save a new article, nor can you list articles.  Potentially an issue with ending slashes... there is this PR...  https://github.com/gothinkster/angular-realworld-example-app/pull/73

[2018-06-08 19:42] #113 closed

[2018-06-28 22:01] hamzahamidi commented on #112
https://github.com/gothinkster/angular-realworld-example-app/pull/114

[2018-06-29 09:13] hamzahamidi commented on #112
[Pr: Angular6-project-structure]( https://github.com/gothinkster/angular-realworld-example-app/pull/114
)
[Pr: Angular6-rxjs-dependencies-migration](https://github.com/gothinkster/angular-realworld-example-app/pull/115)

[2018-06-29 09:14] yiss commented on #112
@hamzahamidi Im going to close it rn

[2018-06-29 09:15] yiss commented on #112
You can close this issue

[2018-06-29 22:46] hamzahamidi opened #116 "Architect commands with multiple targets cannot specify overrides: Lint issues"
When trying to commit I'm facing this issue:

Error: Architect commands with multiple targets cannot specify overrides.'lint' would be run on the following projects: ang2-conduit,ang2-conduit-e2e
    at LintCommand.validate (/home/hamza/projects/angular-realworld-example-app/node_modules/@angular/cli/models/architect-command.js:83:23)
    at Object.<anonymous> (/home/hamza/projects/angular-realwor

[2018-06-30 00:12] fedebabrauskas opened #118 "Switch auth to session/cookie based"
What changes I need to do to work with cookies instead of jwt?
In the code, I saw a `populate()` method in `user.service.ts` that checks the localStorage for a token and then calls a get query to `/user` to fetch the current user data. IMO I only need to remove the jwt check and leave the query call, but I don't know.

[2018-07-10 03:23] solitarysp opened #119 "Structure for modul of project"
hi thinkster.
I are learning angular i has looks project of you, i like prject of you.
You can send me Structure  ?
thank you

[2018-07-12 19:59] #118 closed

[2018-07-27 05:32] lankaapura commented on #116
@hamzahamidi remove linting is not the fix. Pls check the answer here https://stackoverflow.com/a/51179794

[2018-07-27 08:09] hamzahamidi commented on #116
Thank you @lankaapura  The fix was to change the lint line to:
[code]

[2018-07-31 19:34] mstevesmith opened #120 "Can't get it up and running on m-9"
Followed the instructions in the pro tutorial.

1) git clone https://github.com/gothinkster/angular-realworld-example-app.git
2) yarn install
3) git checkout m-9
4) ng-serve

Local workspace file ('angular.json') could not be found.
Error: Local workspace file ('angular.json') could not be found.

I guess I could just go through the lessons like a presentation, but if there's an easy way to get up

[2018-08-01 12:29] mstevesmith commented on #120
Nevermind I'm just going through and recreating it with the cli.

[2018-08-01 13:29] netsrotr opened #121 "No error handling at all in a "real-world-example-app" is a "no-go""
Error handling is essential in any productive app: so why there is nothing implemented herein?
As you can see this sample produce errors (reported within issues), maybe you can at least provide / implement an error handling similar to that sample: [https://medium.com/@aleixsuau/error-handling-angular-859d529fa53a](url)

[2018-09-22 00:38] hamzahamidi commented on #116
@EricSimons can you take a look a this issue & the PR#116 please?

[2018-11-08 17:36] pradeep0508 opened #125 "Best way to keep constants file"
This style guide looks simple and nice. It would be really great if someone adds style guide for constants

[2018-11-28 09:39] Samhot commented on #35
For those who have this error and still don't know why, it's because you or another user don't have a profile picture. Simply set an image in your profile and the error will disappear.

[2018-12-06 04:54] #35 closed

[2018-12-06 08:25] manvfx opened #130 "how to use upload file with other form inputs?"

[2018-12-14 13:30] dsergiu77 opened #131 "Profile page, clicking on the one the feeds' profile link does not refresh upper part"
Steps to reproduce:
1. Go to Profile page by clicking on user name in the navigation bar. The profile page is displayed with information about the signed in user (including article feed).
2. Click the "Favorited Posts", choose an article and click the link to the article's user name. The url in the browser changes correctly, the "My Posts" and "Favorites Posts" areas refresh correctly, but the upp

[2019-01-21 20:56] kmturley opened #136 "Update README to encourage use of 'npm start'"
Node and JavaScript projects using npm have a convention of `npm install` for installation, `npm start` for running and `npm run build` for production builds. Using these means a developer does not need to remember custom commands per project.

Your project already supports all of these commands, but in the README it directs users to use `ng serve` and `ng build`.

Update lines to be:

[code]

[2019-01-30 15:24] subratbhola opened #138 "Project Start issue (need help urgent)"
When Hitting 'ng serve', i getting below compilation issue:

this._workspace.getProjectTargets is not a function
TypeError: this._workspace.getProjectTargets is not a function
    at rxjs_1.forkJoin._workspace.listProjectNames.map.projectName (E:\angularReal\node_modules\@angular\cli\node_modules\@angular-devkit\architect\src\architect.js:71:66)
    at Array.map (<anonymous>)
    at MergeMapSubscr

[2019-03-12 03:45] lwf804 opened #141 "[Explain about angular] F5 make not found error"
Hi, I am beginner with angular2. I try with your demo: `https://angular.realworld.io`. But when i press F5 at url: `https://angular.realworld.io/profile/travelLX`. This act make not found error. Can you explain for me? Thanks!

[2019-03-19 09:29] ArturBaybulatov opened #142 "Project won't build (rxjs types.d.ts errors)"
[code]

[2019-03-19 15:43] 1nv1n opened #143 "Tag wrap isn't handled well"
When there are a lot of tags for an article, the manner in which they're displayed on the UI makes it such that some tags overflow onto the next article's space & the "like" counter gets moved.

![AngularRealWorldIOTags](https://user-images.githubusercontent.com/3885804/54620028-8d8b1280-4a33-11e9-9dab-a2537b0fdfba.PNG)

Can be replicated (as of now) by going to the home page & clicking on any of

[2019-03-30 22:08] 0xErenes opened #144 "Problems in m-9"
I've just bought a subscription in https://thinkster.io just to get a better understanding in this angular realworld example, and was unable to do a 'ng serve' in the very first task.

After some time I managed to make it work, here are some inconsistencies:

The page shoud recommend installing dependencies using 'yarn install' instead 'npm install' in https://thinkster.io/tutorials/building-real-

[2019-04-04 05:23] owenmecham commented on #142
@ArturBaybulatov did you make sure to execute `yarn install` prior to running the application? If so, have you tried deleting your node_modules folder and then running `yarn install` again before running `npm run start`

[2019-04-07 20:14] benmed00 commented on #138
Same Problem Her

![image](https://user-images.githubusercontent.com/17787436/55689222-46cd7000-5982-11e9-8c4f-eef0781a28a4.png)

[2019-04-10 14:15] hanatharesh2712 opened #146 "Setting baseUrl in protractor.conf.js is not working with Remote URL"
I want to set remote URL and run the tests against it. so, I am setting up baseUrl(e.g. www.google.com) in protractor.conf.js file but it does not work.

Repro steps
•	In a new Angular Cli project, in the e2e folder open protractor.conf.js
•	change baseUrl to https://google.com
•	run ng e2e

Observed behaviour
The browser opens up to http://localhost:4200/ and not https://google.com

Desired behav

[2019-04-19 07:00] dexmox commented on #144
I bought into this < 5 days ago - hit the same problem.
Kind of disappointing.

[2019-04-25 08:57] Islomkhodja commented on #118
How did you decide this?

[2019-04-25 14:37] fedebabrauskas commented on #118
I didn't work anymore with this example 😞
Anyway, I can help you, what is your doubt?

[2019-06-24 15:09] josecarballosa opened #151 "Missing subcriptions management on auth component"
Could the missing subscription management on the auth component create some leaking problems? Is it OK to do it like this in a real-world app?

checkout this line:
https://github.com/gothinkster/angular-realworld-example-app/blob/7410c67bcd1bd24de0c736fcf43a2d4ff3a361ee/src/app/auth/auth.component.ts#L32

and also again few lines below:
https://github.com/gothinkster/angular-realworld-example-app/

[2019-06-25 17:45] carballosa opened #152 "Why you use new ReplaySubject<boolean>(1)?"
What are the benefits of using 1" vs "true" for the initial value of the BehaviorSubject instance in this line?

https://github.com/gothinkster/angular-realworld-example-app/blob/7410c67bcd1bd24de0c736fcf43a2d4ff3a361ee/src/app/core/services/user.service.ts#L16

What puzzles me more is that the tutorial uses value "false" instead for this same line here:

https://thinkster.io/tutorials/building-re

[2019-07-02 15:33] carballosa commented on #152
Ok, it turns out that "1" is not the initial value of the observable; because it is a ReplaySubject, not a BehaviorSubject. So the "1" says store and replay one value from the stream (the last one). There is no initial value with ReplaySubject.

[2019-07-02 15:33] #152 closed

[2019-07-10 21:32] peterblazejewicz commented on #151
@carballosa
Sometimes that is OK to not unsubscribe (where the source of the observable will relinquish the resource).
I've created a PR to put a context on this:
https://github.com/gothinkster/angular-realworld-example-app/pull/153
The note here explains this:
https://angular.io/guide/router#observable-parammap-and-component-reuse
Also check Ben Lash comments from Ng Conf closing panel:
https://w

[2019-07-10 21:58] peterblazejewicz commented on #125
Just use TypeScript handbook as reference. AFAIK there is no styleguide in current Angular styleguide for constants/static variables conventions:
https://www.typescriptlang.org/docs/handbook/enums.html
There was a rule in older style guide though:
https://v2.angular.io/docs/ts/latest/guide/style-guide.html#!#03-02
Cheers!

[2019-07-10 22:18] peterblazejewicz commented on #146
https://github.com/angular/angular-cli/issues/11089

[2019-07-10 22:22] peterblazejewicz commented on #143
We could probably send an dm to Thinkster, the CSS style should be open sourced as it begs for:
- update (its' on BS 4 alpha)
- fixes
/cc @joeeames

[2019-07-11 01:44] joeeames commented on #143
is there something I need to do here?

[2019-07-11 06:17] peterblazejewicz commented on #143
@joeeames
I'm really sorry for bothering you, I was wrong who to involve 🙇

[2019-07-11 06:19] peterblazejewicz commented on #143
@anishkny
Can you ping me about this part of the project:
https://github.com/gothinkster/conduit-bootstrap-template
Thanks!

[2019-07-12 09:07] ArturBaybulatov commented on #142
Sorry, I don't have yarn installed. Never used it actually.

[2019-07-31 10:36] samisnotinsane commented on #144
After executing `yarn install` I get a build failure with the following:
`error C:\Data\angular-sites\angular-realworld-example-app\node_modules\node-sass: Command failed.
Exit code: 1
Command: node scripts/build.js
Arguments:
Directory: C:\Data\angular-sites\angular-realworld-example-app\node_modules\node-sass
`
In particular, it seems to be dependent on python2 which pops up later on in the stac

[2019-08-04 19:16] zachdesign opened #154 "Library compatibility version issue."
I followed your explaination but I got library compatibility issue.
Would you kindly explain it?
If then, I much appreciate it.

[2019-08-09 13:20] LordMidi commented on #141
Because the webserver (hosting the app) tries to serve the route. It must be configured that the requests https://angular.realworld.io/xxxx respond with the angular index.html which will take control of the routing to /profile/travelLX

[2019-09-06 08:11] sharikovvladislav opened #155 "Why don't you use providedIn Injectable feature for services in eagerly loaded modules?"
Example:

https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/app/home/home-auth-resolver.service.ts#L8

[HomeAuthResolver](https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/app/home/home-auth-resolver.service.ts) is provided in [HomeModule](https://github.com/gothinkster/angular-realworld-example-app/blob/master/src/app/home/home.module.ts). Hom

[2019-09-06 16:00] letanloc1998 opened #156 "Routed apps must fallback to index.html"
Hello, I'm beginer, I can't setting to access my project.
Does anyone help me setting "Routed apps must fallback to index.html" "https://angular.io/guide/deployment#routed-apps-must-fallback-to-indexhtml"?
Thank you very much

[2019-09-18 08:08] jozemi opened #157 "CORS problem pointing to a local server"
If you want to change the API URL to a local server, in the README you can see the instructions that suggests to edit `src/environments/environment.ts` and change api_url to the local server's URL (i.e. localhost:3000/api)

However, if you do that, you will get a CORS error:

`Access to XMLHttpRequest at 'http://localhost:8000/api/articles?limit=10&offset=0' from origin 'http://localhost:4200' has

[2019-09-19 13:41] tvdinh opened #159 "Consider to import ionicons package by adding to angular.json instead of reference in index.html ?"
Hi,

I guess I'd start with asking if there is any special reason why importing the ionicons css in the index.html itself ?

[code]
Should the ionicons package is added to `package.json` and css path is added to `styles: []` in `angular.json` ? (which is supposed to be best practice ?)

Tuan

[2019-10-18 02:14] aarongyx opened #160 "Yarn install failed"
Hi,

I have yarn installed the dependencies, but it looked like it has failed for many errors.

Could someone indicate the version of node, yarn , and the angular, so to eliminate the errors?

Thanks

[2019-11-01 09:02] mohammadjouhari opened #161 "clicking your feed not showing"
Dear Developers,

Hope evrything is fine.

clicking your feed not filtirring data.

Any reason ?
![Capture](https://user-images.githubusercontent.com/9569421/68014021-e6987580-fca7-11e9-902e-2e0edf3b4b3c.PNG)
![Capture2](https://user-images.githubusercontent.com/9569421/68014022-e7310c00-fca7-11e9-8240-4a7a9f70ab5a.PNG)

[2019-11-01 12:38] mohammadjouhari commented on #161
I fixed the issue by modifying the
[constructor (
    private apiService: ApiService,
    private userService: UserService
  ) {}
  currentUser: User;
  query(config: ArticleListConfig): Observable<{articles: Article[], articlesCount: number}> {
    console.log(config);
    const params = {};
    if((config.type != 'feed'))
    {
      Object.keys(config.filters)
      .forEach((key) => {
      pa

[2019-11-14 12:38] noakesey commented on #144
Thanks matluz!  I'm in the same boat.  How much will a subscription to matluzster.io cost me? :-)

[2020-02-04 14:04] iameduardod opened #168 "Add spec files showing how to unit test"
Real world apps have unit tests with at least 80% code coverage - please consider adding unit test spec files.

[2020-02-04 14:05] emd2013 commented on #3
any update on unit tests?!

[2020-03-27 11:14] tiho2 opened #170 "Can't get up und running if angular v9 is installed globally."
An info:
cloned project required angular update and core-js downgrade to `"^2.5.7"` downgrade to run when angular v9 is installed globally.

[code]

I expect it would not be an issue if there wouldn't be global installation, if `npx` would be used.

package.json after the project is updated with ` ng update --all`:
[code]

[2020-04-15 08:22] #156 closed

[2020-05-14 12:10] kdhttps opened #172 "App Structure Problem: redundant module import"
## Problem
I found one structure problem. I've to import third-party modules at multiple places. If I want to use third-party components at `header.component.ts` and `home.component.ts` then I've to import it at two places one at `app.module.ts` and `shared.module.ts`.

### For example
I am using `ngx-spinner` lib. If I want to use `<ngx-spinner>` in the `header.componnet.ts` then I am importing `

[2020-06-10 23:56] guillermoarellano commented on #112
@letanloc1998 Please close this issue.

[2020-06-17 22:45] guillermoarellano commented on #112
"Abandon all hope ye who participate here."

--------------
As an aside, there's a great post by Christopher Chedeau (@vjeux) about [some great learnings](https://blog.vjeux.com/2020/uncategorized/reflections-on-excalidraw.html) he found when he open-sourced his "Excalidraw" project. In it, he found that:

- Make it easy for people to contribute.
- Respond quickly to issues.
- Elevate frequent con

[2020-07-25 12:10] oschlegel opened #177 "Is this repo still maintained?"
There are alot of open issues and pullrequests opened lon ago and the angular version on which this project is running on is very old. Is project still maintained? Angular wan't looking very good in the [framework comparison for 2020](https://medium.com/dailyjs/a-realworld-comparison-of-front-end-frameworks-2020-4e50655fe4c1) and i think it could be better.

[2020-07-28 20:40] letanloc1998 commented on #112
What happened?

[2020-07-30 15:21] johnshu666 commented on #177
may I ask you some questions?    I am using MAMP as a local server.  and change the  **api_url**  to 'localhost:3306/api'
because this is my local Server: localhost:3306.   but when I run ng serve --open on this project,  I can see some pages, but somehow I can not log in or out function, articles tags are always loading, where I am wrong???

[2020-08-04 20:47] Progdrasil commented on #146
I'm having a similar issue running end to end tests within my CI configuration. similarly to [this comment](https://github.com/angular/angular-cli/issues/11089#issuecomment-469930449). Unfortunately that issue is locked.

[2020-08-15 07:23] oschlegel commented on #177
I can't help you out. I haven't worked with thus project. Just wanted to know if it is still maintained since there hasn't happend much in a long time

[2020-08-18 03:15] A-Soltani opened #179 "Why HttpClientModule has been imported in shared module?"
https://github.com/gothinkster/angular-realworld-example-app/blob/7410c67bcd1bd24de0c736fcf43a2d4ff3a361ee/src/app/shared/shared.module.ts#L38

As far as I'm concerned `HttpClientModule` should be app-wide singleton, so it not right place to import it in shared module. It's better to put it in core module instead.

[2020-08-27 22:28] Postavshik opened #180 "API is unstable and often returns 502"
Backed service became very unstable and often returns 502 error

<img width="1152" alt="2020-08-27_1726" src="https://user-images.githubusercontent.com/21285622/91501202-c0714100-e88a-11ea-987f-d9fd17afa2b5.png">

[2020-09-02 08:10] Tokelin commented on #177
I was wondering the same thing. Just did a quick edit to update the routing module, since the string form is being deprecated in favour of a callback using `import`. I guess I should just open a PR and let it sit there.

[2020-10-07 15:03] #180 closed

[2020-10-07 15:04] Postavshik commented on #180
resolved

[2020-11-21 10:19] yenobi commented on #177
I was wondering this question too but looks like we got our answer (no comments here and none fresh commits in the repo).

[2020-12-05 09:21] SelakaKithmal opened #189 "Router is being injected but never used."
In profile-article.component.ts constructor Router is being injected but never used. Line 13.

[code]

[2020-12-07 14:22] Postavshik opened #190 "502 Error from backend"
Backend returns 502 error
![image](https://user-images.githubusercontent.com/21285622/101362076-424b1000-3865-11eb-95eb-ffe5524b5696.png)

[2021-05-18 04:46] maxisam commented on #177
This is just a misleading project. It doesn't follow the performance best practice. Not even use OnPush. and a blog post a base on this. OMG

[2021-07-01 09:50] cirosantilli commented on #190
I don't reprodue on this backend: https://github.com/cirosantilli/node-express-sequelize-realworld-example-app/tree/5a7dd08ca8333f0a34357df9f86d7b506f610ed9

[2021-07-01 09:54] cirosantilli opened #202 "No articles are here... yet. CSS broken, shows up in bad location"
9e8c49514ee874e5e0bbfe53ffdba7d2fd0af36f

![Screenshot from 2021-07-01 10-53-28](https://user-images.githubusercontent.com/1429315/124104860-97957b80-da5a-11eb-8c29-927a4479af86.png)

Expected good e.g. from https://github.com/gothinkster/react-redux-realworld-example-app/tree/9186292054dc37567e707602a15a0884d6bdae35

![Screenshot from 2021-07-01 10-53-45](https://user-images.githubusercontent.com

[2021-08-04 13:44] #190 closed

[2021-08-04 13:48] Postavshik opened #204 "Application not loading"
The application is not loading articles and tags. Looks like backed is down
![image](https://user-images.githubusercontent.com/21285622/128192366-98db4c80-e1e8-4e5d-a487-f59cb98a18f5.png)

[2021-08-04 22:07] Postavshik commented on #204
Looks like working again ))

[2021-08-05 11:00] michal-nidzinski commented on #204
@Postavshik still not loading for me

![conduit_not_loading](https://user-images.githubusercontent.com/58826544/128339401-cdcf6c08-2af2-4fab-bcba-b087ec1621b1.png)

[2021-08-24 09:56] DarksomeV commented on #204
<img width="1680" alt="Снимок экрана 2021-08-24 в 12 55 30" src="https://user-images.githubusercontent.com/26507663/130596963-4b760837-2682-4b9b-ba31-ffac5a9696ef.png">

still same problem

[2021-08-24 11:48] geromegrignon commented on #204
Hello,

This is due to the current server/database.
We are working on deploying a new one.

[2021-09-09 10:59] lionelmalletpro commented on #204
it works from time to time:
the constant fact is that the answer is very slow
if it takes more than 60000ms => timeout => error message (mine is pretending there is a CORS problem... )
if it takes less than 60000ms => you get a JSON full of porn words

![2021-09-07_12-27-46-38b94203faa9467906060e3bfd3a0bc0](https://user-images.githubusercontent.com/34163543/132674109-3196fdc2-be7a-452d-b35e-09abb2

[2021-09-09 19:36] bwijayaw opened #206 "Remove NSFW content"
As a user putting together onboarding examples for developers, I want to use this codebase. However the NSFW content is a huge no-no and needs to be gone.

Please see attached screenshot. Either disable the Popular Tags section or add a filter to remove all NSFW tags and text.

<img width="1182" alt="Screen Shot 2021-09-09 at 2 30 35 PM" src="https://user-images.githubusercontent.com/76452698/1327

[2021-09-09 19:49] bwijayaw commented on #206
Looks like this issue has come up before in the [realworld](https://github.com/gothinkster/realworld/issues/711) repo. Going to try the new API and re-open if the issue persists.

[2021-09-09 19:49] #206 closed

[2021-09-20 18:37] Postavshik opened #207 "Clean Up bad (offensive) tags"
Is it possible to clean bad tags?
Somebody messed this up and now the application looks not good because of it
<img width="403" alt="Tags" src="https://user-images.githubusercontent.com/21285622/134055997-0fcd63f2-4b06-4f5d-ae96-fa1979d42db0.png">

[2021-09-28 00:27] geromegrignon commented on #207
Hey @Postavshik, it's now fixed.
I deployed a new API with limitations to avoid such a situation.

[2021-09-28 13:30] Postavshik commented on #204
Hey @geromegrignon
Looks like not realy.
I a not able to publish the article

[2021-09-28 13:35] Postavshik opened #208 "404 on Publish new article"
Hi @geromegrignon
Thank you for the API update but it has some issues.

It's not possible to publish the article, 404 error from backend
<img width="406" alt="Conduit 2021-09-28 08-32-26" src="https://user-images.githubusercontent.com/21285622/135097303-eac63ecb-9b34-4e80-a919-392be75edabb.png">

[2021-09-28 13:37] geromegrignon commented on #204
Hey @Postavshik, about the purpose of this issue (ie `Application not loading`), it's now resolved.

We have some new issues about the API listed here: https://github.com/gothinkster/realworld/issues

[2021-10-20 21:39] G4brielMedeiros opened #209 "Browser refresh at any part of the website, with exception of the main page, causes GitHub 404."
1. Go to [angular.realworld.io](angular.realworld.io)
2. Click on **Settings**
3. Refresh. You get GitHub's 404 and this on the console:
`GET http://angular.realworld.io/editor 404 (Not Found)`

I have the same issue in my project, no idea how to fix.

[2021-11-27 14:55] Postavshik opened #212 "Tags list is empty even if tags assigned to the articles"
The default list of the tags on the global feed is empty, but the default articles have tags that should be displayed in the tags list

![image](https://user-images.githubusercontent.com/21285622/143686441-8c0c2acf-0c36-4f87-94c9-81aa21fea71d.png)

[2022-02-04 00:36] 3rg1s opened #218 "From Protractor to Cypress"
Hello there, I will be trying to add e2e testing using cypress. This way I think the project will benefit from it. Also since cypress is famous someone may find it helpful.

[2022-02-06 13:10] tanaka888 opened #219 "LISENCE.txt file does not exist."
I would like to customize and redistribute this project. But I can not find the license information.
Could you please add the LISENCE.txt.

[2022-07-12 20:34] #212 closed

[2022-07-12 20:36] Postavshik opened #231 "Not able to log in!"
Not possible to log in to the application.
API call failed on redirect.
![image](https://user-images.githubusercontent.com/21285622/178590528-ed413c4c-27b3-4baa-9aae-8f5beb0272d2.png)
![image](https://user-images.githubusercontent.com/21285622/178590644-dc71afff-fe80-4fff-9488-0e5b493f0b7f.png)

[2022-11-10 13:02] PetkovSvetoslav opened #235 "Global Feed Article"
Hi good Angular app, but how to delete Global Feed Article on Home Page? where they stored? how to change them? from some profil: Magda Parry?

[2022-11-19 18:07] #231 closed

[2022-11-21 14:52] Postavshik opened #237 "Application is down"
The application is completely down.
URL: https://angular.realworld.io/ is not accessible.

[2022-11-21 18:13] #237 closed

[2022-11-21 18:13] Postavshik commented on #237
back online

[2022-11-21 23:09] geromegrignon commented on #235
Hi @PetkovSvetoslav, those articles have been added as fake articles from fake accounts for demonstration purposes. There are stored in public api.realworld.io API.
There are not meant to be changed as you can only change articles from your own account.